@charset "UTF-8" ;

*{
    margin: 0px;
    padding: 0px;

}

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Oswald:wght@200;300;400;500&display=swap');





body{
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #0B1466, #2A3066);

    background-repeat: no-repeat;
    background-size: cover;
    
    color: white;
    margin-right: 0px;
  

}

header{
    display: flex;
    justify-content: space-around;
    margin: -5px;
    margin-right: 10px;
    padding: 23px;
    padding-right: 20px;
    padding-left: 0px;
    background-color: rgba(0, 0, 107, 0.842);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.329);
    

}

div{
    padding: 7px;
    margin: -3px;
}

div > h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-size: 24px;
   
    line-height: 5px;
   font-family: 'Sarala', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header > img{

    width: 90px;
    height: 90px;
 }



main{
    display: block;
    margin: auto;
    margin-top: 70px;
  
    margin-bottom: 30px;
    background-image: linear-gradient(to bottom, #01094e, transparent );
  
    
    padding: 20px;
    width: 400px;
 
    height: 500px;
   

    border-radius: 10px;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.274);
}



main > h1{
    font-family: 'Sarala', sans-serif;
    font-size: 4vh;
    padding: 10px;
    margin: 10px;
    text-align: center;
    
    
   
   
    
}

nav{
    
    width: 400px;
    height: 400px;
    margin-top: 10px;
    text-align: center;
    align-items: center;
  
}

nav > a{

    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 15px;
   
    font-size: 3vh;
    
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.377);
}

nav > a:hover{
    background-color: white;
    color: #0B1466
}

.images{
    display: flex;
    
    width: 40px;
    position: relative;
    top: -30px;
    left: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    
}

.images:hover{
    transition: transform 0.5ms;
    border: 1px solid black;
    position: relative;
    right: 10px;

}

